@model ProyectoXalli_Gentella.Models.CategoriaMenu

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">

            @using (Html.BeginForm("Create", "CategoriasMenu", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-inline col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                            @Html.Label("Código", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                            @Html.EditorFor(model => model.CodigoCategoriaMenu, new { htmlAttributes = new { @class = "form-control col-md-2 col-sm-2 col-xs-2", @maxlength = 3, @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.CodigoCategoriaMenu, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                            @Html.Label("Activo", htmlAttributes: new { @class = "col-md-4 col-sm-4 col-xs-4" })
                            <label>
                                @Html.CheckBoxFor(model => model.EstadoCategoriaMenu, new { @class = "js-switch col-md-2 col-sm-2 col-xs-2", @disabled = "disabled", @checked = "checked" })
                                @Html.ValidationMessageFor(model => model.EstadoCategoriaMenu, "", new { @class = "text-danger" })
                            </label>
                        </div>
                    </div>

                    <br /><br /><br />

                    <div class="col-md-8 center-margin">
                        <div class="form-inline">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Categoría", htmlAttributes: new { @class = "col-md-3 col-sm-3 col-xs-4" })
                                @Html.EditorFor(model => model.DescripcionCategoriaMenu, new { htmlAttributes = new { @class = "form-control", @maxlength = 50, @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.DescripcionCategoriaMenu, "", new { @class = "text-danger" })
                            </div>

                            <br /><br /><br />

                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                            <a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var elem = document.querySelector('.js-switch');
        var init = new Switchery(elem);
    });
</script>