@model ProyectoXalli_Gentella.Models.Producto

@{
    ViewBag.Title = "Detalle";
    Layout = null;
}

<style>
    .b-r {
        border-right: 1px solid #e7eaec;
    }
</style>

<div class="panel-body form-horizontal">
    <div class="form-group">
        <h3 class="green" style="text-align:center !important;"><i class="fa fa-cutlery"></i> @Model.NombreProducto</h3>
        <br />
        <div class="col-md-4 col-sm-4 col-xs-4 b-r">
            <div class="project_detail">
                <p class="title">Código de Producto</p>
                <p>@Model.CodigoProducto</p>
                <p class="title">Unidad de Medida</p>
                <p id="unidad"></p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 b-r">
            <div class="project_detail">
                <p class="title">Marca de Producto</p>
                <p>@Model.MarcaProducto</p>
                <p class="title">Categoría de Producto</p>
                <p id="categoria"></p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="project_detail">
                <p class="title">Estado</p>
                <p id="estado"></p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <hr />
        <h4 style="text-align:center !important;">@*<i class="fa fa-cutlery"></i>*@Inventario Producto</h4>
        <br />
        <div class="col-md-4 col-sm-4 col-xs-4 b-r">
            <div class="project_detail">
                <p class="title">Cantidad Actual</p>
                <p id="cantAct"></p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 b-r">
            <div class="project_detail">
                <p class="title">Cantidad Mínima</p>
                <p>@Model.CantidadMinProducto</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="project_detail">
                <p class="title">Cantidad Máxima</p>
                <p>@Model.CantidadMaxProducto</p>
            </div>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
            <a onclick="CerrarModal()" class="btn btn-primary">Cerrar</a>
        </div>
    </div>
</div>

<script>
    //CARGA LOS CAMPOS A MOSTRAR DEL DETALLLE
     $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Productos/getDetails/" + @Model.Id,
            dataType: "JSON",
            success: function (data) {
                if (data.EstadoProducto) {
                    $("#estado").text("Activo");
                } else {
                    $("#estado").text("Inactivo");
                }
                $("#categoria").text(data.Categoria);
                $("#unidad").text(data.UnidadMedida);
            }
        });
    });//FIN FUNCTION

    //FUNCION PARA CARGAR LA CANTIDAD ACTUAL DE LOS PRODUCTOS
    $(document).ready(function() {
        $.ajax({
            url: "/Productos/CantidadActual/" + @Model.Id,
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                //SI EXISTEN ENTRADAS EN ALGUNA DE LAS DOS AREAS
                if (data.data.Destino != undefined) {
                    //NO SE CARGA LAS ENTRADAS DEL AREA DE COCINA - 2 -
                    if (data.data.Destino != 1) {
                        $("#cantAct").text("No Disponible");
                    } else {
                        $("#cantAct").text(data.data.cantActual);//SE CARGA LA CANTIDAD DEL AREA DEL BAR
                    }
                } else {
                    $("#cantAct").text("Sin entradas");//SI NO EXISTEN ENTRADAS DEL PRODUCTO
                } 
            },
            error: function () {
                Alert("Error", "Se produjo un error al cargar la cantidad Actual", "error");
            }
        });
    });//FIN FUNCTION
</script>