@model ProyectoXalli_Gentella.Models.Producto

@{
    ViewBag.Title = "Detalle";
    Layout = null;
}


<h3 class="green" style="text-align:center !important;"><i class="fa fa-cutlery"></i> @Model.NombreProducto</h3>
<p class="title" style="text-align:center!important;" id="presentacion"></p>
<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel">
        <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">General</h4>
        </a>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <br />
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <div class="project_detail">
                        <p class="title">Código</p>
                        <p>@Model.CodigoProducto</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-4">
                    <div class="project_detail">
                        <p class="title">Categoría</p>
                        <p id="categoria"></p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <div class="project_detail">
                        <p class="title" id="estado"></p>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="flat" checked="checked">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h4 class="panel-title">Inventario</h4>
        </a>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="project_detail">
                        <p id="cantAct" class="title"></p>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="project_detail">
                        <p class="title">Cantidad Mínima : @Model.CantidadMinProducto</p>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="project_detail">
                        <p class="title">Cantidad Máxima : @Model.CantidadMaxProducto</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {        

        $('.flat').iCheck();

        //CARGA LOS CAMPOS A MOSTRAR DEL DETALLLE
        $.ajax({
            type: "GET",
            url: "/Productos/getDetails/" + @Model.Id,
            dataType: "JSON",
            success: function (data) {
                if (data.EstadoProducto) {
                    $("#estado").text("Activo");
                } else {
                    $("#estado").text("Inactivo");
                }
                $("#categoria").text(data.Categoria);
                $("#presentacion").text(data.MarcaProducto + " " + data.UnidadMedida);
            }
        });

         //FUNCION PARA CARGAR LA CANTIDAD ACTUAL DE LOS PRODUCTOS
         $.ajax({
            url: "/Productos/CantidadActual/" + @Model.Id,
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                //SI EXISTEN ENTRADAS EN ALGUNA DE LAS DOS AREAS
                if (data.data.Destino != undefined) {
                    //NO SE CARGA LAS ENTRADAS DEL AREA DE COCINA - 2 -
                    if (data.data.Destino != 1) {
                        $("#cantAct").text("Cantidad Actual : No Disponible");
                    } else {
                        $("#cantAct").text("Cantidad Actual : " + data.data.cantActual);//SE CARGA LA CANTIDAD DEL AREA DEL BAR
                    }
                } else {
                    $("#cantAct").text("Cantidad Actual : Sin entradas");//SI NO EXISTEN ENTRADAS DEL PRODUCTO
                }
            },
            error: function () {
                Alert("Error", "Se produjo un error al cargar la cantidad Actual", "error");
            }
        });
    });//FIN FUNCTION
</script>